{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "browsers": ["last 2 versions", "> 5% in BE"],
                "uglify": true
            },
            "debug": true
        }]
    ],
    "plugins": []
}
